 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
     .container {
         max-width: 32rem;
         margin: 0 auto;
         padding-right: 1rem;
         padding-left: 1rem;
     }



 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
     .container {
         max-width: 58rem;
         margin: 0 auto;
         padding-right: 1rem;
         padding-left: 1rem;
     }

     .newsletters {
         margin: 6rem 1rem;
     }


 }

 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
     .container {
         max-width: 75rem;
         margin: 0 auto;
         padding-right: 1rem;
         padding-left: 1rem;
     }

     .newsletters {
         display: flex;
         flex-direction: row-reverse;
         justify-content: space-between;
         align-items: center;
         margin: 6rem 9rem;
     }

     .newsletters__banner {
         margin-left: auto;
         justify-content: right;
         width: 25rem;
         flex-basis: auto;
     }


     .newsletters__content {
         margin-left: 0;
         text-align: left;
         width: 45rem;
         flex-basis: auto;
     }

     .newsletters__title {
         max-width: 100%;
     }

     .newsletters__caption {
         max-width: 36rem;
         margin: 0;
     }

     .newsletters__email-box {
         margin-top: 2rem;
     }

 }

 @media only screen and (max-width: 992px) {
     .menu-desktop {
         display: none;
     }

     .menu-buttons {
         display: none;
     }



 }

 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
     .container {
         max-width: 98rem;
         margin: 0 auto;
         padding-right: 1rem;
         padding-left: 1rem;
     }

     .menu-mobile {
         display: none;
     }

     .menu-buttons-mobile {
         display: none;
     }

     .nav-btn {
         display: none;
     }

     .header-content__caption {
         width: 45rem;
     }

     .newsletters {
         margin: 6rem 7rem;
     }
 }

 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
     .container {
         max-width: 114rem;
         margin: 0 auto;
         padding-right: 1rem;
         padding-left: 1rem;
     }

     .newsletters {
         margin: 6rem 1rem;
     }
 }