 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
     .container {
         max-width: 32rem;
         margin: 0 auto;
         padding-right: 1rem;
         padding-left: 1rem;
     }



 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
     .container {
         max-width: 58rem;
         margin: 0 auto;
         padding-right: 1rem;
         padding-left: 1rem;
     }



 }

 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
     .container {
         max-width: 75rem;
         margin: 0 auto;
         padding-right: 1rem;
         padding-left: 1rem;
     }


 }

 @media only screen and (max-width: 992px) {
     .menu-desktop {
         display: none;
     }

     .menu-buttons {
         display: none;
     }


 }

 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
     .container {
         max-width: 98rem;
         margin: 0 auto;
         padding-right: 1rem;
         padding-left: 1rem;
     }

     .menu-mobile {
         display: none;
     }

     .menu-buttons-mobile {
         display: none;
     }

     .nav-btn {
         display: none;
     }
 }

 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
     .container {
         max-width: 114rem;
         margin: 0 auto;
         padding-right: 1rem;
         padding-left: 1rem;
     }
 }